.about,
.about * {
  box-sizing: border-box;
}
.about {
  background: #000000;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.swaroop-kaushik-sreedhar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0;
}

.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 65px;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.home, .about2, .contact {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.frame-6 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.budt-748-industry-practicum {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.frame-5 {
  margin: 30px auto;
  max-width: 741px;
}

.this-capstone-course-will-provide-students-an-opportunity-to-work-on-a-real-world-project-where-they-will-work-with-a-company-to-use-technology-to-solve-a-business-problem {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.frame-7 {
  margin: 40px auto;
  max-width: 800px;
  text-align: center;
}

.professor-paul-t-shapiro-teaching-assistants-abhi-gupta-samiha-meah-zam-mozumder-semester-details-fall-2025 {
  color: #ffffff;
  font-size: 20px;
}

.professor-paul-t-shapiro-teaching-assistants-abhi-gupta-samiha-meah-zam-mozumder-semester-details-fall-2025-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

.professor-paul-t-shapiro-teaching-assistants-abhi-gupta-samiha-meah-zam-mozumder-semester-details-fall-2025-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}

.swaroop-sreedhar-university-of-maryland-fall-2025 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  margin-top: auto; /* pushes it to bottom */
  padding: 20px 0;
}